* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-general-color {
  background-color: #133280;
}

.toggle-side-bar {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
  display: block;
  padding-top: 5px;
}
